<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Affordable and professional web design">
        <meta name="keywords" content="web design, junior web design, affordable web design">
        <meta name="author" content="Matthew LaBelle">

        <title> Delta 9 Solutions | Welcome </title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <img src="/static/img/delta9logo.png">
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/home"> Home </a></li>
                    <li><a href="/about"> About </a></li>
                    <li><a href="/services"> Services </a></li>
                    <li><a href="/contact"> Contact Me </a></li>
                    <li><a href="http://www.github.com/MaxPazow" target="_blank">GitHub</a></li>
                    <li><a href="/static/docs/resume.pdf" download>Download Resume</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Hello, I'm Matthew</h1>
            <p>I create beautiful and functional websites for people who want to stand out at a great price.</p>
        </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Subscribe to Wed Dev Weekly</h1>
            <form>
                <input type="email" placeholder="Enter e-mail address">
                <button type="submit" class="button_1"> Subscribe </button>
            </form>
        </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="/static/img/htmllogo.png">
                <h3>HTML5</h3>
                <p>The building-blocks of your website!</p>
            </div>
            <div class="box">
                <img src="/static/img/csslogo.png">
                <h3>CSS Styling</h3>
                <p>CSS styling to wow your websites users</p>
            </div>
            <div class="box">
                <img src="/static/img/javascriptlogo.png">
                <h3>JavaScript</h3>
                <p>Capture your audience with modern aspects of JavaScript</p>
            </div>
        </div>
    </section>

    <footer>
        <p> Delta 9 Solutions, Copyright &copy; 2018 </p>
    </footer>

</body>

</html>